*, *:before, *:after {
   box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;    
}

a {
    color: #03258f
}

li {
    list-style-type: disc;
}

li a {
    text-decoration: none;
}

blockquote {
    border-left: 3px solid #3d74f4;
    padding-left: 10px;
    background-color: #f7f9fd;
}

body {
    color: #2f2000;
    background-color: #faf8f5;
    font-size: 24px;
    line-height: 3rem;
}

.container {
    max-width: 900px;
    margin: auto;
    background-color: #faf8f5;
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.navbar .title {
    background-color: #faf8f5;
}

.navbar .title a {
    font-size: 44px;
    color: #b8ae97;
    background-color: #faf8f5;
    font-family: 'Georgia'; 
    text-decoration: none;
}

.navitem {
    margin: auto;
}

.navitem a {
    font-family: 'Georgia';
    color: #b8ae97;
    text-decoration: none;
}

.navitem a:hover, .navbar .active a:hover {
    color: #03258f;
    background-color: #faf8f5;
}

.navbar .active a,
.navitem a:hover, .navitem a:focus {
    color: #03258f;
}

#content {
    background-color: #faf8f5;
}

#content img {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
    line-height: 0.8rem;
}

#post-tags {
    font-family: 'Georgia';
    margin-top: 30px;
}

#prev-next {
    font-family: 'Georgia';
    padding: 15px 0;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 32px;
}

#post-meta {
    font-size: 14px;
    font-family: 'Georgia';
    color: #b8ae96;
}

#post-tags a,
#prev-next a,
#post-meta a {
    text-decoration: none;
    font-family: 'Georgia', serif;
}

#page-header {
    margin-bottom: 20px;
}

pre {
    overflow-x: auto;
}
pre code {
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: #428bca;
}

pre, code, .hljs {
    background-color: #f7f9fd;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    #content{
        margin: auto;
        padding: 15px 75px;
    }
}

@media (max-width: 767px) {
    .navbar {
        flex-wrap: wrap;
    }
    .navbar .title {
        margin-bottom: 10px;
    }
    .navitem {
        display: flex;
        width: 100%;
        border-bottom:
    }
    .navitem a {
        margin: auto;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
